# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_KABOARD_LEFT

config ZMK_KEYBOARD_NAME
    default "KABOARD"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_KABOARD_LEFT || SHIELD_KABOARD_RIGHT

config ZMK_SPLIT
    default y

endif
