# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_KABOARD_LEFT
    def_bool $(shields_list_contains,kaboard_left)

config SHIELD_KABOARD_RIGHT
    def_bool $(shields_list_contains,kaboard_right)
